body{
    font-family: 'Arial', sans-serif;
}

.todo-conteudo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.conteudo-principal {
    background-color: rgb(210, 234, 255);
}

.rodape {
    background-color: rgb(135, 158, 179);
}